{% extends 'base.html.twig' %}

 {% block title %}DemoLiquide | Les questions à débattre{% endblock %}

{% block content %}

    <div class="question">
        <div>
            <h1>{{ question.title }}</h1>

            {#je veux afficher les sujets, comme il s'agit d'un tableau, je devrais faire une boucle.
            Mais comme nous avons créer un toString dans la class, je peux utiliser join auquel j'indique ce que je veux
            mettre comme symbole entre chaque sujet #}

            <h5>{{ question.subjects |join('|') }}</h5>
            <p>{{ question.creationDate |date('d-m-Y H:i:s') }}</p>
            <p>{{ question.description | nl2br }}</p>
            <p>{{ question.supports }}</p>
    </div>
    <div>
        <a href="#" class="btn btn-info">Voter</a>
    </div>
    </div>
    <div class="message-form">
    {{ form_start(messageForm) }}

        {{ form_widget(messageForm) }}

        <button class="btn btn-info">Envoyer !</button>

     {{ form_end(messageForm) }}

    </div>
    <div class="messages">
        {% for message in messages %}
            <div class="message">
                <p class="content"><img class="marteau" src="{{ asset('img/baseline-gavel-24px.svg') }}">{{ message.content | nl2br }}</p>
                <p class="date">{{ message.dateCreated |date('d-m-Y')}}</p>


            </div>
        {% endfor %}
    </div>


{% endblock %}