{% extends 'base.html.twig' %}

 {% block title %}DemoLiquide | Les questions à débattre{% endblock %}

{% block content %}

    <div class="question">
        <div>
            <h1>{{ question.title }}</h1>

            {#je veux afficher les sujets, comme il s'agit d'un tableau, je devrais faire une boucle.
            Mais comme nous avons créer un toString dans la class, je peux utiliser join auquel j'indique ce que je veux
            mettre comme symbole entre chaque sujet #}

            <h5>{{ question.subjects |join('|') }}</h5>
            <p>{{ question.creationDate |date('d-m-Y H:i:s') }}</p>
            <p>{{ question.description | nl2br }}</p>
            <p>{{ question.supports }}</p>
    </div>
        {% if app.user %}
    <div>
        <a href="#" class="btn btn-info" >Voter</a>
    </div>
        {% endif %}
    </div>

    {% if app.user %}
    <div class="message-form">
    {{ form_start(messageForm) }}

        {{ form_widget(messageForm) }}

        <button class="btn btn-info">Envoyer !</button>

     {{ form_end(messageForm) }}

    </div>
        {% else %}
            <div>
            <a class="nav-link" href="{{ path('app_login') }}">Connecter-vous pour faire un commentaire</a>
            </div>
    {% endif %}
    <div class="messages">
        {% for message in messages %}
            <div class="message">
                <p class="content"><img class="marteau" src="{{ asset('img/baseline-gavel-24px.svg') }}">{{ message.content | nl2br }}</p>
                <p class="date">{{ message.dateCreated |date('d-m-Y')}}</p>
                <div class="claps">
                    <div class="clap-btn" data-url="{{ path('api_clap_post', {'id': message.id}) }}">👏</div>
                    <div class="clap-num">{{ message.claps }}</div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}